%h1 Klient: #{@client}
%small #{@client.client_number}

= link_to edit_client_path(@client), class: "btn btn-info" do
  Edytuj klienta

= link_to new_client_bank_account_path(@client.id), class: "btn btn-primary" do
  Nowe konto bankowe

= render partial: "bank_accounts", locals: { bank_accounts: @client.bank_accounts}