<% if user_signed_in? %>
<div class="section-header">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-success">
        <i class="fas fa-search-dollar"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Saldo</h4>
        </div>
        <div class="card-body">
          <%= currency(balance_of_user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-danger">
        <i class="fas fa-exchange-alt"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Transakcje</h4>
        </div>
        <div class="card-body">
          <%= transactions_count %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-warning">
        <i class="fas fa-hand-holding-usd"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Ost. przelew</h4>
        </div>
        <div class="card-body">
          <%= currency(last_transaction) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-primary">
        <i class="fas fa-sign-in-alt"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Zalogowania</h4>
        </div>
        <div class="card-body">
          <%= user_sign_in_count %>
        </div>
      </div>
    </div>
  </div>                  
</div>

<div class="row">
  <div class="col-lg-7 col-md-12 col-12 col-sm-12">
    <%= render partial: "column_chart" %>
  </div>

  <div class="col-lg-5 col-md-12 col-12 col-sm-12">
    <%= render partial: "pie_chart" %>
  </div>

  <div class="col-12">
    <%= render partial: "last_5_transactions" %>
</div> <!-- end row >



<% end %>