<% if user_signed_in? %>
<div class="section-header">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-success">
        <i class="fas fa-search-dollar"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Saldo</h4>
        </div>
        <div class="card-body">
          <%= currency(balance_of_user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-danger">
        <i class="fas fa-exchange-alt"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Transakcje</h4>
        </div>
        <div class="card-body">
          <%= transactions_count %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-warning">
        <i class="fas fa-hand-holding-usd"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Ost. przelew</h4>
        </div>
        <div class="card-body">
          <%= currency(last_transaction) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-primary">
        <i class="fas fa-sign-in-alt"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Zalogowania</h4>
        </div>
        <div class="card-body">
          <%= user_sign_in_count %>
        </div>
      </div>
    </div>
  </div>                  
</div>

<div class="row">
  <div class="col-lg-7 col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4>Statistics</h4>
        <div class="card-header-action">
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Week</a>
            <a href="#" class="btn">Month</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% series = [
          {name: "Inactive", data: AccountTransaction.group_by_week(:created_at).count}]
        %> 
        <% options = {
                      title: 'Properties Growth',
                      subtitle: 'Grouped Per Week',
                      xtitle: 'Week',
                      ytitle: 'Properties',
                      stacked: true
        } %>
        <%= line_chart(series, options) %>


        <div class="statistic-details mt-sm-4">
          <div class="statistic-details-item">
            <span class="text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span> 7%</span>
            <div class="detail-value">$243</div>
            <div class="detail-name">Today's Sales</div>
          </div>
          <div class="statistic-details-item">
            <span class="text-muted"><span class="text-danger"><i class="fas fa-caret-down"></i></span> 23%</span>
            <div class="detail-value">$2,902</div>
            <div class="detail-name">This Week's Sales</div>
          </div>
          <div class="statistic-details-item">
            <span class="text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span>9%</span>
            <div class="detail-value">$12,821</div>
            <div class="detail-name">This Month's Sales</div>
          </div>
          <div class="statistic-details-item">
            <span class="text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span> 19%</span>
            <div class="detail-value">$92,142</div>
            <div class="detail-name">This Year's Sales</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4>Ostatnie 5 transakcji</h4>
      </div>
      <div class="card-body">
        <div class="card-body">
          <%= render partial: "last_5_transactions" %>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end row >



<% end %>