%h1 Mój bank

.row
  .col-md-12
    %h2 Liczba kont: #{number_of_accounts}
    %h2 Liczba klientów: #{number_of_clients}

.row
  .col-md-12
    = link_to clients_path do
      Klienci banku
    %hr
    = link_to new_client_path do
      Nowy klient
    %hr
    = link_to bank_accounts_path do
      Konta bankowe
    %hr
    = link_to new_bank_account_path do
      Nowe konto bankowe