%h1 Numer konta: #{@bank_account.account_number}
%small #{@bank_account.user}

= button_tag :new_transaction, id: "btn-new-transaction", class: "btn btn-primary" do
  Nowa transakcja

= link_to root_path, class: "btn btn-secondary" do
  Wróć

= render partial: "transactions", locals: { bank_account: @bank_account}

= render partial: "modal_transaction"

#parameters{data: {bank_account_id: @bank_account.id }}