<!DOCTYPE html>
<html>
  <head>
    <title>WsbBank</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <%= render partial: "shared/nav"%>
        <%= render partial: "shared/sidebar" %>
        <div class="main-content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <div class="container">
            <%= yield %>
          </div>
        </div>
        <footer class="main-footer">
          <div class="footer-left">
            <%= render partial: "shared/footer" %>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
